{% extends 'base.html' %}
{% block page_content %}
<title>Login</title>
{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access or try visiting another page.</p>
    {% else %}
        <p>Please login.</p>
    {% endif %}
{% endif %}

<form method='post' action="{% url 'login' %}">
{% csrf_token %}
{{ form.as_p }}
<input type='submit' class = 'btn btn-primary' value='Login'/>
<input type='hidden' name='next' value='{{ next }}'/>
</form>
{% endblock %}