{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_content %}

<head>
    <title>Set a New Password</title>
</head>

{% if validlink %}
    <body class="text-white bg-dark">
        <h2>Set a new password</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <input type="submit" value="Change Password" class="btn btn-primary">
        </form>
    </body>
{% else %}
    <body class="text-center text-white bg-dark">
        <main class="px-3">
            <script>setTimeout(function(){ window.location="{% url 'password_reset' %}"; },5000);</script>
            <p>The password reset link is invalid...</p>
            <p>Please request a new password reset.</p>
            <p>Redirecting shortly...</p>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </main>
    </body>
{% endif %}


{% endblock %}
