div.album {
    background-color: hsla(1200, 50%, 0%, 0.1);
}

.card {
    background-color: transparent;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.075);
    transition: transform .8s cubic-bezier(0.68, -1, 0.265, 1.9), box-shadow .2s ease-in;
}

div.col .card:hover {
    box-shadow: 0 0 3px whitesmoke;
    transform: scale(1.07);
}

.card-title,
.card-text {
    color: #fff;
}














.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}