{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_content %}

{% if not User.is_authenticated %}
    <title>Log In</title>
    <h2>Log In</h2>
    <hr>
    <form method='POST' action="">
        {% csrf_token %}
        {{ form|crispy }}
        <br>
        <input type='submit' class='btn btn-primary' value='Log In'/>
        <button type='button' class='btn btn-link'><a href="{% url 'password_reset' %}">Forgot Password?</a></button>
        <br>
        <p>Don't have an account?<button type='button' class='btn btn-lin'><a href="{% url 'accounts:signup' %}" >Sign Up</a></button></p>
        </form>
{% else %}
    <title>Redirecting Log In Request</title>
    <h4>Redirecting log in request...</h4>
    <p>You're already logged in!</p>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <script>setTimeout(function(){ window.location="{% url 'projects:all' %}"; }, 4000);</script>
{% endif %}

{% endblock %}