{% extends 'base.html' %}
{% load static %}
{% block page_content %}

<title>{{ page_profile.name|truncatechars:10 }}'s Profile</title>
<h2>{{ page_profile.name|truncatechars:10 }}'s Profile</h2>

{{ User.profile.about }}

{% if page_profile.profile_pic %}
    <img class="img-fluid rounded-start" src="{{ page_profile.profile_pic.url }}">
{% else %}
    <img class="img-fluid rounded-start" src="{% static 'personal_portfolio/images/filler_profile_image.jpg' %}" width=100px height=100px>
{% endif %}

{% if page_profile.social_fb %}
    {{ page_profile.social_fb }}
{% endif %}

{{ page_profile.User.about }}

{% endblock %}
