{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_content %}
<head>
  <title>Edit Profile</title>
  <link rel='stylesheet' href="{% static 'css/edit_user.css' %}">
</head>

{% if request.user.username == object.user.username %}
    <body class="text-white bg-dark">
        <h2>Edit Profile</h2>
        <hr>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <p>Password: <a href="{% url 'accounts:change-password' %}" class='btn btn-secondary'>Change Password</a></p>
                <br><input type="submit" value="Update" class="btn btn-primary"></input>
            </form>
        </div>
    </body>
{% else %}
    <body class="text-center text-white bg-dark">
        <main class="px-3">
            <h4>You're not allowed here... And you know it!</h4>
            <p>Sending you to your own page!</p>
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <script>setTimeout(function(){ window.location="{% url 'accounts:edit_profile' user.username %}"; }, 4000);</script>
        </main>
    </body>
{% endif %}

{% endblock %}