{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<head>
    <title>Password Updated</title>
    <link rel='stylesheet' href="{% static 'css/change-password.css' %}">
</head>
<body class="text-center text-white bg-dark">
    <h2>Password Updated!</h2>
    <p>Redirecting shortly...</p>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <script>setTimeout(function(){ window.location="{% url 'login' %}"; }, 3000);</script>
</body>
{% endblock %}