{% extends 'base.html' %}
{% load static %}
{% block page_content %}
<br>

<title>{{ object.user.username|truncatechars:10 }}'s Profile</title>
<h2>{{ object.user.username|truncatechars:10 }}'s Profile</h2>

<hr>

{% if object.facebook_url %}
    <a href="{{ object.facebook_url }}" target="_blank"><img class="fab fa-facebook-square fa-2x" style="color: gray;"></a>
{% endif %}
{% if object.twitter_url %}
    <a href="{{ object.twitter_url }}" target="_blank"><img class="fab fa-twitter-square fa-2x" style="color: gray;"></a>
{% endif %}
{% if object.instagram_url %}
    <a href="{{ object.instagram_url }}" target="_blank"><img class="fab fa-instagram-square fa-2x" style="color: gray;"></a>
{% endif %}
{% if object.linkedin_url %}
    <a href="{{ object.linkedin_url }}" target="_blank"><img class="fab fa-linkedin fa-2x" style="color: gray;"></a>
{% endif %}
{% if object.github_url %}
    <a href="{{ object.github_url }}" target="_blank"><img class="fab fa-github-square fa-2x" style="color: gray;"></a>
{% endif %}

<br><br>

{% if object.profile_pic %}
    <img class="img-fluid rounded-start" src="{{ object.profile_pic.url }}" width=100px height=100px>
{% else %}
    <img class="img-fluid rounded-start" src="{% static 'personal_portfolio/images/filler_profile_image.jpg' %}" width=100px height=100px>
{% endif %}

{{ object.about }}

<br><br>


<br><br>

<button class="btn btn-primary" onclick="goBack()">Go Back</button>
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}
