{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_content %}

{% if project.title %}
    <title>{{ project.title|truncatechars:18 }}</title>
    <h2>{{ project.title }}</h2>
{% else %}
    <title>Project Details</title>
    <h2>Project Details</h2>
{% endif %}

<div><i><small>Posted by: {{ project.owner.username }} | 
    <a href="{% url 'accounts:view_profile' project.owner.username %}">View Profile</a><br></small></i>
    {% if project.owner.profile.facebook_url %}
        <a href="{{ project.owner.profile.facebook_url }}" target="_blank"><img class="fab fa-facebook-square fa-2x" style="color: gray;"></a>
    {% endif %}
    {% if project.owner.profile.twitter_url %}
        <a href="{{ project.owner.profile.twitter_url }}" target="_blank"><img class="fab fa-twitter-square fa-2x" style="color: gray;"></a>
    {% endif %}
    {% if project.owner.profile.instagram_url %}
        <a href="{{ project.owner.profile.instagram_url }}" target="_blank"><img class="fab fa-instagram-square fa-2x" style="color: gray;"></a>
    {% endif %}
    {% if project.owner.profile.linkedin_url %}
        <a href="{{ project.owner.profile.linkedin_url }}" target="_blank"><img class="fab fa-linkedin  fa-2x" style="color: gray;"></a>
    {% endif %}
    {% if project.owner.profile.github_url %}
        <a href="{{ project.owner.profile.github_url }}" target="_blank"><img class="fab fa-github-square fa-2x" style="color: gray;"></a>
    {% endif %}
</div>

{% if user.is_authenticated %}
    <form action="{% url 'projects:project_like' project.pk %}" method="POST">
        {% csrf_token %}
        {% if not liked %}
            <button type="submit" name="project_pk" value="{{ project.pk }}" class="btn btn-link btn-sm"><i class="fas fa-thumbs-up fa-sm" style="color: dodgerblue;"></i></button>
        {% else %}
            <button type="submit" name="project_pk" value="{{ project.pk }}" class="btn btn-link btn-sm"><i class="fas fa-thumbs-down fa-sm" style="color: Tomato;"></i></button>
        {% endif %}
            - {{ total_likes }} 
        {% if total_likes == 1 %} Like {% else %} Likes {% endif %}
    </form>
{% else %}
    <p><button type="" class="btn btn-link btn-sm"><i class="fas fa-thumbs-up fa-sm" style="color: black;"></i></button><small>- {{ total_likes }} 
    {% if total_likes == 1 %} Like {% else %} Likes {% endif %}</small></p>
    <p><a type="button" class="btn btn-primary" href="{% url 'login' %}">Log in</a>
         or <a type="button" class="btn btn-primary" href="{% url 'accounts:signup' %}?next={% url 'projects:all' %}">Sign up</a>
          to like your favorite projects and show some support!</p>
{% endif %}

<hr>

<p>
{{ project.desc }}
</p>

<br>

{% if project.repo %}
    <a href="{{ project.repo }}">View Project Source Code</a>
{% else %}
    <p>No repository link.</p>
{% endif %}

<br>

{% if project.owner == user %}
    <br>
    <p>
        <a href="{% url 'projects:project_update' project.pk %}">Edit <i class="fa fa-pencil"></i></a> | 
        <a href="{% url 'projects:project_delete' project.pk %}?next={% url 'projects:all' %}">Delete <i class="fa fa-trash"></i></a>
    </p>
    <br>
{% endif %}
<hr>
<p>
    <a class="btn btn-primary" href="{% url 'projects:all' %}">Back to all projects</a>
    </p>
{% endblock %}