{% extends "base.html" %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block page_content %}
<title>Detail for {{ project.title|truncatewords:10 }}</title>
{% if project.owner == user %}
<a href="{% url 'projects:project_update' project.id %}"><i class="fa fa-pencil"></i></a>
<a href="{% url 'projects:project_delete' project.id %}"><i class="fa fa-trash"></i></a>
{% endif %}
</span>
<h1>{{ project.title }}</h1>
<p>
{{ project.desc }}
</p>
<p>
<a href="{{ project.repo }}">View Project Source Code</a>
</p>
<p>
<a href="{% url 'projects:all' %}">All projects</a>
</p>
{% endblock %}