{% extends "base.html" %}
{% load static %}
{% block page_content %}
<head>
    <title>Projects List</title>
    <link rel="stylesheet" href="{% static 'css/project_list.css' %}">

</head>

<body class="text-white bg-dark">
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Projects</h1>
            <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
            <p>
            <a href="{% url 'projects:project_create' %}" class="btn btn-primary my-2">Post a Project</a>
            <a href="#" class="btn btn-secondary my-2">Zane's Resume</a>
            </p>
        </div>
        </div>
    </section>

    <div class="album py-5">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if project_list %}
                {% for project in project_list %}
                    <div class="col">
                        <div class="card">
                            {% if project.image %}
                                <img class="img-fluid rounded" src="{{ project.image.url }}">
                            {% else %}
                                <img class="img-fluid rounded" src="{% static 'personal_portfolio/images/filler_project_image.jpg' %}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ project.title }}</h5>
                                <p class="card-text">{{ project.desc|truncatechars:102 }}</p>
                                <div class="d-flex justify-content-between align-items-end">
                                    <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-secondary" type="button" id="read_more">View</a>
                                        <div class="btn-group">
                                            {% if project.owner == user %}
                                                <a type="button" class="btn btn-link btn-sm" href="{% url 'projects:project_update' project.pk %}"><i id="action2" class="fa fa-pencil"></i></a>    
                                                <a type="button" class="btn btn-link btn-sm" href="{% url 'projects:project_delete' project.pk %}"><i id="action2" class="fa fa-trash"></i></a>
                                            {% endif %}        
                                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                                        <small class="text-muted">9 mins</small>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
        {% endfor %}
    {% else %}
        <p>There are no projects to display... Maybe try adding some!</p>
    {% endif %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
