{% extends "base.html" %}
{% load static %}
{% block page_content %}
<title>Projects List</title>
<h1>Projects</h1>
{% if user.is_authenticated %}
<a class="btn btn-primary" href="{% url 'projects:project_create' %}">Add a new Project</a>
{% else %}
<h5>To add projects, please:</h5>
<p><a type="button" class="btn btn-primary" href="{% url 'accounts:signup' %}?next={% url 'projects:all' %}">Sign up</a> 
    OR  <a type="button" class="btn btn-primary" href="{% url 'login' %}">Log in</a></p>
{% endif %}
<hr>
<div class="row">
{% if project_list %}
    {% for project in project_list %}
        <div class="col-md-4">
            <div class="card mb-2">
                {% if project.image %}
                    <img class="img-fluid" src="{{ project.image.url }}">
                {% else %}
                    <img class="img-fluid" src="{% static 'personal_portfolio/images/filler_project_image.jpg' %}">
                {% endif %} 
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.desc|truncatechars:80 }} <br>
                        <i><small> - Posted by: {{ project.owner.username }}
                        - {{ project.total_likes }} {% if project.total_likes == 1 %} Like {% else %} Likes {% endif %}</small></i></p>
                    <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-primary" type="button">Read More</a>
                    {% if project.owner == user %}
                        <br>
                        <small><a href="{% url 'projects:project_update' project.pk %}">Edit<i class="fa fa-pencil"></i></a> | 
                        <a href="{% url 'projects:project_delete' project.pk %}">Delete<i class="fa fa-trash"></i></a></small>
                    {% endif %}
                </div>
            </div>
        </div> 
    {% endfor %}
{% else %}
    <p>There are no projects to display, try adding some!</p>
{% endif %}
</div>
{% endblock %}