{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_content %}

<head>
    <link rel='stylesheet' href="{% static 'css/project_detail.css' %}">
</head>

<body class="text-white bg-dark">
    {% if project.title %}
        <title>{{ project.title|truncatechars:18 }}</title>
        <h2>{{ project.title }}</h2>
    {% else %}
        <title>Project Details</title>
        <h2>Project Details</h2>
    {% endif %}

    <div><i><small>Posted by: {{ project.owner.username }} | 
        <a id="pink_link_2" href="{% url 'accounts:view_profile' project.owner.username %}">View Profile</a><br></small></i>
    </div>
    <!-- Social Media Links -->
    <div class="wrapper">
        {% if project.owner.profile.facebook_url %}
            <a href="{{ project.owner.profile.facebook_url }}" target="_blank">
                <div class="icon facebook">
                <div class="tooltip">Facebook</div>
                <i class="fab fa-facebook-f"></i>
                </div>  
            </a>
        {% endif %}
        {% if project.owner.profile.twitter_url %}
            <a href="{{ project.owner.profile.twitter_url }}" target="_blank">
                <div class="icon twitter">
                <div class="tooltip">Twitter</div>
                <i class="fab fa-twitter"></i>
                </div>
            </a>
        {% endif %}
        {% if project.owner.profile.instagram_url %}
            <a href="{{ project.owner.profile.instagram_url }}" target="_blank">
                <div class="icon instagram">
                <div class="tooltip">Instagram</div>
                <i class="fab fa-instagram"></i>
                </div>
            </a>
        {% endif %}
        {% if project.owner.profile.github_url %}
            <a href="{{ project.owner.profile.github_url }}" target="_blank">
                <div class="icon github">
                <div class="tooltip">Github</div>
                <i class="fab fa-github"></i>
                </div>
            </a>
        {% endif %}
        {% if project.owner.profile.linkedin_url %}
            <a href="{{ project.owner.profile.linkedin_url }}" target="_blank">
                <div class="icon linkedin">
                <div class="tooltip">Linkedin</div>
                <i class="fab fa-linkedin"></i>
                </div>
            </a>
        {% endif %}
    </div>

<form action="{% url 'projects:project_like' project.pk %}" method="POST" id="like_unlike">
    {% if user.is_authenticated %}
        {% csrf_token %}
        {% if liked %}<i class="text-muted">(liked)</i>{% endif %}
        <i class="text-muted">({{ total_likes }}
        {% if total_likes == 1 %} Like{% else %} Likes{% endif %})</i>
        {% if not liked %}
            <button type="submit" name="project_pk" value="{{ project.pk }}" class="btn btn-link"><i id="action2" class="fas fa-thumbs-up" style="color: dodgerblue;"></i></button>
        {% else %}
            <button type="submit" name="project_pk" value="{{ project.pk }}" class="btn btn-link"><i id="action2" class="fas fa-thumbs-down" style="color: Tomato;"></i></button>
        {% endif %}
    {% else %}
        <span>Please <strong><a href="{% url 'login' %}" id="pink_link_2">LOG IN</a></strong> to be able to like projects!</span>
        <br>
        <button type="button" class="btn btn-link"><i class="fas fa-thumbs-up" style="color: dodgerblue;"></i></button>- {{ total_likes }} 
        {% if total_likes == 1 %} Like {% else %} Likes {% endif %}
    {% endif %}
</form>


    <hr>

    <p>
    {{ project.desc|safe }}
    </p>

    <br>

    {% if project.repo %}
        <a href="{{ project.repo }}" target="_blank" id="pink_link_2">View Project Source Code</a>
    {% else %}
        <p>No repository link.</p>
    {% endif %}

    <br>

    {% if project.owner == user %}
        <br>
        <p>
            <a id="action_edit" href="{% url 'projects:project_update' project.pk %}">Edit <i id="action2" class="fa fa-pencil"></i></a> | 
            <a id="action_delete" href="{% url 'projects:project_delete' project.pk %}?next={% url 'projects:all' %}">Delete <i id="action2" class="fa fa-trash"></i></a>
        </p>
        <br>
    {% endif %}
    <hr>

    {% if user.is_authenticated %}
        <form method="POST" action="{% url 'projects:project_comment_create' project.id%}">
            {% csrf_token %}
            {{ comment_form|crispy }} <input type="submit" value="Add Comment" class="btn btn-secondary btn-sm">
        </form>
    {% endif %}
    {% for comment in comments %}
    <p>
        <i><small><a id="pink_link_2" href="{% url 'accounts:view_profile' comment.owner %}">@{{ comment.owner }}</a> said:</small></i>  <br>  {{ comment.text }} <i><br><small>({{ comment.date_updated|naturaltime}})</i></small>
        {% if user == comment.owner %}
        <a href="{% url 'projects:project_comment_delete' comment.id %}"><i id="action2" class="fa fa-trash"></i></a>

        {% endif %}
    </p>
    {% endfor %}

    <hr>

    <a class="btn btn-primary" href="{% url 'projects:all' %}">Back to all projects</a>
</body>
{% endblock %}