{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_content %}

<head>
  <title>Delete Comment</title>
</head>

<body class="text-center text-white bg-dark">
  <main class="px-3">

    <h2>Delete Comment...</h2>
    <p>Are you <strong>sure</strong>?</p>
    <p>{{ comment.text }}</p>

    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" class="btn btn-secondary" value="Delete">
      <a href="{% url 'projects:project_detail' comment.project.id %}" class="btn btn-primary">Cancel</a>
    </form>
  </main>
</body>
{% endblock %}
