
body a.btn-secondary {
    font-size: 14px;
    background-color: transparent;
    border-radius: 4px;
    position: relative;
    transition: all 0.5s;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    color: #fff;
    border: 2px solid #777DA7;
    padding: 8px 30px;
}

a.btn-secondary:hover {
    background-color: #777DA7;
    color: #fff;
    border: 2px solid #777DA7;
    transition: all .5s;
}

a.btn-secondary:focus,
a.btn-secondary:active,
a.btn-secondary:active:focus {
    outline: none;
    background-color: #777DA7;
    border-color: #777DA7;
    box-shadow: 0 0 0 .25rem #575b81;
    text-decoration: none;
}

a.btn-secondary a {
    color: #fff;
    text-decoration: none;
}
